 /* :root {
    --very-fast: 0.25s; 
    --fast: 0.75s; 
    --medium: 1s; 
    --slow: 1.25s; 
    --very-slow: 1.75s;

    --delay-very-fast: 0.1s; 
    --delay-fast: 0.2s; 
    --delay-medium: 0.3s; 
    --delay-slow: 0.4s; 
    --delay-very-slow: 0.5s;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fade-in-50 {
    from { opacity: 0 }
    to { opacity: 0.5 }
}

@keyframes rise {
    from { top: 100vh } 
    to { top: 0 }
}

@keyframes short-rise {
    from { top: 15vh } 
    to { top: 0 }
}

@keyframes rise-middle {
    from {top: 55vh }
    to {top: 40vh }
}

@keyframes fall-middle {
    from {top: -15vh }
    to {top: 10vh }
}

@keyframes rise-middle-top {
    from {top: 40vh }
    to {top: -40vh }
}

@keyframes fall-middle-top {
    from {top: 10vh }
    to {top: 100vh }
}

@keyframes slide-right {
    from { left: -100vw }
    to { left: 0vw }
}

@keyframes blur {
    from { filter: blur(0px) }
    to { filter: blur(20px) }
}

.rise-fade, 
.rise-fade-dvf, 
.rise-fade-ds, 
.rise-fade-dvs,
.rise-fade-middle, 
.rise-fade-middle-out,
.fall-fade-middle, 
.fall-fade-middle-out {
    opacity: 0;
    position: relative; 
    animation-fill-mode: forwards !important; 
}

.rise-fade {
    animation: short-rise var(--fast), fade-in var(--slow);
}

.rise-fade-dvf {
    animation: short-rise var(--medium) var(--delay-very-fast), fade-in var(--slow) var(--delay-very-fast);
}

.rise-fade-ds {
    animation: short-rise var(--medium) var(--delay-slow), fade-in var(--slow) var(--delay-slow);
}

.rise-fade-dvs {
    animation: short-rise var(--medium) var(--delay-very-slow), fade-in var(--slow) var(--delay-very-slow);
}

.rise-fade-middle {
    animation: rise-middle var(--fast), fade-in var(--medium);
}

.rise-fade-middle-out {
    animation: rise-middle-top var(--slow) ease-in 0s 1, fade-in var(--medium) ease 0s 1 reverse;
}

.fall-fade-middle {
    animation: fall-middle var(--very-fast), fade-in var(--fast);
}

.fall-fade-middle-out {
    animation: fall-middle-top var(--very-fast) ease-in 0s 1, fade-in var(--very-fast) ease 0s 1 reverse;
}

.fade-in-50 {
    animation: fade-in-50 var(--medium);
    animation-fill-mode: forwards;
}

.fade-out-50 {
    animation: fade-in-50 var(--medium) ease 0s 1 reverse;
    animation-fill-mode: forwards;
}

.slide-right {
    position: relative; 
    animation: slide-right var(--medium);
}

.fade-in-dm {
    animation: fade-in var(--fast) var(--medium); 
    animation-fill-mode: both;
}

.blur-anim {
    animation: blur var(--very-fast);
    animation-fill-mode: forwards;
}

.unblur-anim {
    animation: blur var(--slow) ease 0s 1 reverse;
    animation-fill-mode: forwards;
} */

:root {
    --very-fast: 0.25s; 
    --fast: 0.75s; 
    --medium: 1s; 
    --slow: 1.25s; 
    --very-slow: 1.75s;

    --delay-very-fast: 0.1s; 
    --delay-fast: 0.2s; 
    --delay-medium: 0.3s; 
    --delay-slow: 0.4s; 
    --delay-very-slow: 0.5s;
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fade-in-50 {
    from { opacity: 0 }
    to { opacity: 0.5 }
}

@keyframes rise-50px {
    from { top: 50px }
    to { top: 0px }
}

.fade-in-50 {
    animation: fade-in-50 var(--medium);
}

.fade-out-50 {
    animation: fade-in-50 var(--medium) ease 0s 1 reverse;
}

.rise-fade {
    animation: rise-50px var(--medium), fade-in var(--medium);
}

.sink-fade-out {
    animation: rise-50px var(--medium) ease 0s 1 reverse, fade-in var(--medium) ease 0s 1 reverse; 
}
